extends layout

block content
  .container
    .jumbotron
      .container
        h1 How can I help You?
        p Lorem ipsum dolor sit amet, comsectetur adipisceng elit. Fusce orcu null, vehiculs ullamcorper lobortis sed, luctus quis lacus.
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

    .container
      .row
        .col-md-4
          h2 About Us
          p Donex id elit nin mi porta gravide at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentu
          a.btn.btn-secondary(href='#') View Details
        .col-md-4
          h2 Services
          p Donex id elit nin mi porta gravide at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentu
          a.btn.btn-secondary(href='#') View Details
        .col-md-4
          h2 Get In Touch
          p Donex id elit nin mi porta gravide at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentu
          a.btn.btn-secondary(href='#') View Details